# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv/
venv/
ENV/

# Streamlit Secrets (PENTING)
.streamlit/secrets.toml

# Database & Master Data (JANGAN di-upload)
*.xlsx
*.xls
*.csv
database_*.xlsx
master_*.xlsx
pengaturan_*.xlsx

# Folder data sensitif
foto_monitoring/
peta_monitoring/
tanda_tangan/

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db